@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Moderat";
  src: url("../public/font/Moderat-Bold.ttf");
  src: url("../public/font/Moderat-Medium.ttf");
  src: url("../public/font/Moderat-Regular.ttf");

}
body{
  font-family: moderat;
}
.btn{
  @apply rounded-lg py-2 px-5 font-medium shadow-sm
}
.link{
  @apply text-slate-500 font-medium px-6
}

.active{
  @apply text-primary font-semibold;
}
.btn.active{
  @apply text-white
}
.navbar-link{
  @apply flex items-center px-2 py-2 text-base font-medium rounded-md text-[#F2F4F7] hover:bg-gray-700;
} 
.navbar-link.active{
  @apply bg-[#344054] text-white;
}
.btn-export{
  @apply border border-[#D0D5DD] rounded-[50px] px-3 py-1.5 text-sm;
  box-shadow: 0px 1px 2px 0px #1018280D;
}

/* table styling  */
.outlet{
  border: 1px solid #EAECF0;
  box-shadow: 0px 1px 2px 0px #1018280F;
  box-shadow: 0px 1px 3px 0px #1018281A;
  border-radius: 8px!important;
  color: #667085;
}

/* .outlet div{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
} */
.rdt_Pagination{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.kWAsOx{
  font-size: 18px;
  font-weight: 600!important;
}
header.dTgEdo{
  /* justify-content: space-between!important; */
}
.rdt_TableHead{
  color: #667085!important;
  background-color: #EAECF0!important;
}
.view-btn{
  font-size: 14px!important;
  font-weight: 500!important;
  color: #1A6533!important;
}